.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #272B30;
	color: white;
	text-align: center;
	color: white;
}

ul {
	list-style-type: none;
}

i {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.vote {
	padding: 5px;
	border: none;
	background: none;
}

.border-padding {
	padding: 5px;
}

.sm-tags {
	margin: 2px;
	padding: 0.2em 0.15em;
	font-weight: normal;
	text-align: center;
}

.avatar {
	width: 110px;
	max-width: 150px;
}

.divider_hr {
	background-color: white;
}

.emphasis {
	color: white;
}

.sm-carousel {
	width: 750px;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 25%;
  background-color: #272B30;
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: .5s ease;
}

.sm-carousel:hover .overlay {
  height: 30%;
}

.overlay-text {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#thread {
	width: 110px;
	border-right: 1px solid #3A3F44;
}

#votes {
	width: 150px;
}

#carousel {
	width: 100%;
	display: block;
	
	
}