<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/layout :: header"></div>
    <div th:replace="fragments/components :: alert (type='danger', message=${errorMessage})">Error: Error</div>
    <!--<div th:replace="fragments/components :: alert (type='danger', message=${st})">Error: Error</div>-->
    <div class="container">

            <p>[[${stackTrace}]]</p>



    </div>


    <div th:replace="fragments/layout :: footer"></div>
</div>
</body>
</html>