<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.userprofile.edit}">...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/formValidation.js"
	th:src="@{/resources/js/formValidation.js}"></script>
</head>
<body onload="checkScreenname()">
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div th:replace="fragments/components :: alert (type=secondary, message=#{help.userprofile.edit})"></div>
		<th:block th:if="${message != null}">
			<div
				th:replace="fragments/components :: alert (type=${#strings.toLowerCase(alertClass)}, message=#{${message}})">&nbsp;</div>
		</th:block>
		<h2 class="text-info" th:text="#{heading.userprofile.edit}">...</h2>
		<br>
		<div class="jumbotron">
			<form th:object="${userProfile}"
				th:action="@{/userProfile/get?id=} + ${userProfile.id}"
				method="post">

				<input type="hidden" th:field="*{id}" />

				<div class="form-group">
					<label class="col-form-label" th:text="#{form.label.username}">...</label>
					<input id="username" type="text" class="form-control"
						th:field="*{username}" onkeyup="checkScreenname()">
					<small class="text-muted" id="counter_username">0/50</small>
				</div>
				<div style="float: right;">
					<button id="button-success" type="submit"
						class="btn btn-outline-success" th:text="#{button.submit}"
						name="action" value="success">...</button>
					<button id="button-warning" type="submit"
						class="btn btn-outline-warning" style="display: none;"
						th:text="#{button.submit}" name="action" value="warning">...</button>
				</div>
			</form>
		</div>

	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>