<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.userprofile.upload}">...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/formValidation.js"
	th:src="@{/resources/js/formValidation.js}"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div
			th:replace="fragments/components :: alert (type=secondary, message=#{help.userprofile.edit})"></div>
		<th:block th:if="${message != null}">
			<div
				th:replace="fragments/components :: alert (type=${#strings.toLowerCase(alertClass)}, message=#{${message}})">&nbsp;</div>
		</th:block>
		<h2 class="text-info" th:text="#{heading.userprofile.upload}">...</h2>
		<br>
		<div class="jumbotron">
			<form method="post" th:action="@{/doUpload} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}"
				enctype="multipart/form-data" id="singleUploadForm"
				name="singleUploadForm">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" /><input id="singleFileUploadInput"
					type="file" name="file" class="file-input" required />
				<button type="submit" class="primary submit-btn" value="upload">Submit</button>
			</form>
			<div class="upload-response">
				<div id="singleFileUploadError"></div>
				<div id="singleFileUploadSuccess"></div>
			</div>
		</div>

	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>