<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.userprofile}">...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div th:replace="fragments/components :: alert (type=secondary, message=#{help.userprofile.view})"></div>
		<th:block th:if="${message != null}">
			<div
				th:replace="fragments/components :: alert (type=${#strings.toLowerCase(alertClass)}, message=${message})">&nbsp;</div>
		</th:block>
		<h2 class="text-info" th:text="#{heading.userprofile}">...</h2>
		<br>
		<div class="jumbotron">
			<h3 class="lead emphasis" th:text="${username}">...</h3>
			<hr class="divider_hr">

			<div class="row">
				<div class="col-lg-6 avatar">
					<img src="http://localhost:8080/getUserprofileImage"/>
					<span th:if="${userRole == 'ROLE_ADMIN'}"
						class="badge badge-pill badge-info" th:text="ADMIN">...</span>
				</div>
				<div class="col-lg-10">
					<table>
						<col width="150">
						<col width="150">
						<tr>
							<td class="emphasis" th:text="#{heading.userprofile.email}">...</td>
							<td th:text="${email}">...</td>
						</tr>
						<tr>
							<td class="emphasis" th:text="#{heading.userprofile.joined}">...</td>
							<td th:text="${created}">...</td>
						</tr>
						<tr>
							<td class="emphasis" th:text="#{heading.userprofile.posts}">...</td>
							<td th:text="${numberOfPosts}">...</td>
						</tr>
						<tr>
							<td class="emphasis" th:text="#{heading.userprofile.threads}">...</td>
							<td th:text="${numberOfThreads}">...</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<a class="btn btn-outline-info" th:href="@{/upload}"
		   th:text="#{button.changeProfilePicture}">...</a>
		<a class="btn btn-outline-info" th:href="@{/userProfile/edit}"
			th:text="#{button.edit}">...</a>


	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>