<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.signup.title}">...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div
			th:replace="fragments/components :: alert (type=secondary, message=#{help.signup})"></div>
		<div class="jumbotron">
			<form class="form-narrow form-horizontal" method="post"
				th:action="@{/signup}" th:object="${signupForm}"
				th:fragment="signupForm">
				<th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
					<div
						th:replace="fragments/components :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
				</th:block>
				<fieldset>
					<h2 class="text-info" th:text="#{heading.signup}">...</h2>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('email')}? ' has-danger'">
						<label class="col-form-label" for="email"
							th:text=#{form.label.email}>...</label> <input type="text"
							class="form-control"
							th:classappend="${#fields.hasErrors('email')} ? ' is-invalid' : ''"
							id="email" th:placeholder="#{form.placeholder.email}"
							th:field="*{email}" />
						<div class="invalid-feedback"
							th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
							th:text="#{form.error.email}">...</div>
					</div>
					<div class="form-group"
						 th:classappend="${#fields.hasErrors('username')}? ' has-danger'">
						<label class="col-form-label" for="username"
							   th:text=#{form.label.username}>...</label>
								<input type="text" class="form-control" th:classappend="${#fields.hasErrors('username')} ? ' is-invalid' : ''"
									   id="username" th:placeholder="#{form.placeholder.username}"
									   th:field="*{username}" />
						<div class="invalid-feedback"
							 th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
							 th:text="#{form.error.username}">...</div>
					</div>
					<div class="form-group"
						th:classappend="${#fields.hasErrors('password')}? ' has-danger'">
						<label class="col-form-label" for="password"
							th:text=#{form.label.password}>...</label> <input type="password"
							class="form-control"
							th:classappend="${#fields.hasErrors('password')} ? ' is-invalid' : ''"
							id="password" th:placeholder="#{form.placeholder.password}"
							th:field="*{password}" /> <span class="invalid-feedback"
							th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
							th:text="#{form.error.password}">...</span>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-secondary"
								th:text="#{button.signup}">...</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<p>
								Already have an account? <a href="signin" th:href="@{/signin}"
									th:text="#{button.signin}">...</a>
							</p>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>