<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.signin.title}">...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div
			th:replace="fragments/components :: alert (type=secondary, message=#{help.signin})"></div>
		<div class="jumbotron">
			<form class="form-narrow form-horizontal" action="#" method="post"
				th:action="@{/authenticate}">
				<th:block th:if="${param.error != null}">
					<div
						th:replace="fragments/components :: alert (type='danger', message='Sign in error. Please try again.')">Alert</div>
				</th:block>

				<fieldset>
					<h2 class="text-info" th:text="#{heading.signin}">...</h2>
					<div class="form-group">
						<label for="inputEmail" class="col-form-label"
							th:text="#{form.label.email}">...</label> <input type="text"
							class="form-control" id="inputEmail"
							th:placeholder="#{form.placeholder.email}" name="username" />
					</div>
					<div class="form-group">
						<label for="inputPassword" class="col-form-label"
							th:text="#{form.label.password}">...</label> <input
							type="password" class="form-control" id="inputPassword"
							th:placeholder="#{form.placeholder.password}" name="password" />
					</div>
					<div class="form-group">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input"
								id="chk_remember_me" name="_spring_security_remember_me">
							<label class="custom-control-label" for="chk_remember_me"
								th:text="#{checkbox.rememberMe}">...</label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-secondary"
								th:text="#{button.signin}">...</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<p>
								New here? <a href="signup" th:href="@{/signup}"
									th:text="#{button.signup}">...</a>
							</p>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>