<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.posts.edit}">...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/formValidation.js"
	th:src="@{/resources/js/formValidation.js}"></script>
</head>
<body onload="checkBoth()">
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div
			th:replace="fragments/components :: alert (type=secondary, message=#{help.posts.edit})"></div>
		<th:block th:if="${message != null}">
			<div
				th:replace="fragments/components :: alert (type=${#strings.toLowerCase(alertClass)}, message=#{${message}})">&nbsp;</div>
		</th:block>
		<h2 class="text-warning" th:text="#{heading.posts.edit}">...</h2>
		<br>
		<div class="jumbotron">
			<form th:object="${post}"
				th:action="@{/thread/} + ${thread.id} + '/post/edit?id=' + ${post.id}"
				method="post">
				<input type="hidden" th:field="*{id}" />
				<div class="form-group">
					<label class="col-form-label" th:text="#{form.label.title}"></label>
					<input type="text" class="form-control" readonly="readonly"
						th:value="'Re: ' + ${thread.title}" id="title"> <small class="text-muted"
						id="counter_title" style="display: none;"></small>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('message')}? ' has-danger'">
					<label class="form-control-label" for="message"
						th:text=#{form.label.message}>...</label>
					<textarea rows="3" id="message" class="form-control"
						th:classappend="*{#strings.isEmpty(message) || (#strings.length(message) > 255)} ? ' is-invalid' : ''"
						th:placeholder="#{form.placeholder.message}" th:field="*{message}"
						onkeyup="checkBoth()"></textarea>
					<small class="text-muted" id="counter_message">0/255</small>
				</div>
				<br>
				<div style="float: right;">
					<button id="button-success" type="submit"
						class="btn btn-outline-success" th:text="#{button.submit}"
						name="action" value="success">...</button>
					<button id="button-warning" type="submit" style="display: none;"
						class="btn btn-outline-warning" th:text="#{button.submit}"
						name="action" value="warning">...</button>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>