<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.about.title}">About Authors</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />

<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div class="jumbotron">
			<h1 class="display-3" th:text="#{heading.authors}"></h1>
			<p class="lead" th:text="#{heading.authors.description}">...</p>
		</div>
		<div class="sm-carousel">
			<div id="carouselExampleIndicators" class="carousel slide"
				data-ride="carousel">
				<ul class="carousel-indicators">
					<li data-target="#carouselExampleIndicators" data-slide-to="0"
						class="active"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				</ul>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" width="10"
							src="../../../resources/images/kseniaBudykho.jpg"
							th:src="@{/resources/images/kseniaBudykho.jpg}" alt="First slide">
						<div class="overlay">
							<div class="overlay-text">
								<h5 th:text="#{name.ksenia}">...</h5>
								<p th:text="#{description.ksenia}">...</p>
							</div>
						</div>
					</div>

					<div class="carousel-item ">
						<img class="d-block w-100 width" width="10"
							src="../../../resources/images/parisKoutsoftides.jpg"
							th:src="@{/resources/images/parisKoutsoftides.jpg}"
							alt="Second slide">
						<div class="overlay">
							<div class="overlay-text">
								<h5 th:text="#{name.paris}">...</h5>
								<p th:text="#{description.paris}">...</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" width="10"
							src="../../../resources/images/sezerErtunc.jpg"
							th:src="@{/resources/images/sezerErtunc.jpg}" alt="Third slide">
						<div class="overlay">
							<div class="overlay-text">
								<h5 th:text="#{name.sezer}">...</h5>
								<p th:text="#{description.sezer}">...</p>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleIndicators"
					role="button" data-slide="prev"> <span
					class="carousel-control-prev-icon" aria-hidden="true"></span> <span
					class="sr-only">Previous</span>
				</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
					role="button" data-slide="next"> <span
					class="carousel-control-next-icon" aria-hidden="true"></span> <span
					class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>