<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.home.title}">A forum - SPK</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body
	style="background-color: rgb(0, 0, 0); background-image: url(http://www.zingerbugimages.com/backgrounds/multi_colored_stars2.gif); background-position: top left; background-repeat: repeat; background-attachment: fixed;">
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div
			th:replace="fragments/components :: alert (type=secondary, message=#{help.home.signedin})"></div>
		<div class="text-center">
			<br>
			<div class="jumbotron">
				<h1 class="display-3 emphasis"
					th:text="'Welcome, ' + ${username} + '!'">...</h1>
				<p class="lead" th:text="#{heading.welcome.description}">...</p>
				<hr class="my-4">
				<p th:inline="text">[[#{text.navigation}]] &#10084;</p>
				<p th:text="#{text.navigation.help}">...</p>
			</div>
		</div>
		<div th:replace="fragments/layout :: footer"></div>
	</div>
</body>
</html>