<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.home.title}">A forum - SPK</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script type="text/javascript">
	/* Fill in modal with content loaded with Ajax */
	$(document).ready(function() {
		$('#signup').on('click', function() {
			$("#signup-modal").modal();
			$("#signup-modal-body").text("");
			$.ajax({
				url : "signup",
				cache : false
			}).done(function(html) {
				$("#signup-modal-body").append(html);
			});
		})
	});
</script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div
			th:replace="fragments/components :: alert (type=secondary, message=#{help.home.signedout})"></div>
		<div class="text-center">
			<br>
			<div class="jumbotron">
				<h1 class="display-3" th:text="#{heading.welcome}"></h1>
				<p class="lead" th:text="#{heading.enticing.description}">...</p>
				<hr class="my-4">
				<p th:text="#{text.notsignedin}">...</p>
			</div>
			<button class="btn btn-lg btn-block btn-info" id="signup"
				th:text="#{button.signup}">...</button>
		</div>
	</div>
	<div
		th:replace="fragments/components :: modal(id='signup-modal', title='Signup')"></div>
</body>
</html>