<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.threads.all}">...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>

</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div
			th:replace="fragments/components :: alert (type=secondary, message=#{help.threads.allthreads})"></div>
		<br>
		<table class="table table-hover">
			<thead class="table-dark">
				<tr>
					<th scope="row" th:text="#{table.title}">...</th>
					<th th:text="#{table.message}">...</th>
					<th th:text="#{table.author}">...</th>
					<th th:text="#{table.tags}">...</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="table-primary" th:if="${threads} != null">
				<tr th:each="thread : ${threads}">
					<td><a th:text="${thread.title}"
						th:href="@{thread/get?id=} + ${thread.id}"
						th:if="${#authorization.expression('isAuthenticated()')}">...</a>
						<span th:text="${thread.title}"
						th:href="@{thread/get?id=} + ${thread.id}"
						th:if="${#authorization.expression('!isAuthenticated()')}">...</span>
					</td>
					<td th:text="${thread.message}">...</td>
					<td th:text="${thread.userProfile.username}">...</td>
					<td id="votes"><span th:each="tag : ${tags}"> <span
							th:if="${tag.key == thread.id}" >
							<span th:each="t : ${#strings.arraySplit(tag.value,',')}" th:inline="text" class="badge
							badge-secondary sm-tags">[[${t}]]&nbsp;</span>
							</span>
					</span></td>
					<td id="votes" th:inline="text">[[${thread.upvotes}]]&nbsp; <a
						class="btn btn-sm btn-outline-success" href="#"
						th:href="@{/thread/upvote?id=} + ${thread.id}">&#8593;</a>
						&nbsp;&nbsp; [[${thread.downvotes}]]&nbsp; <a
						class="btn btn-sm btn-outline-danger" href="#"
						th:href="@{/thread/downvote?id=} + ${thread.id}">&#8593;</a>
					</td>

					</td>
				</tr>
			</tbody>
		</table>

		<a th:if="${#authorization.expression('isAuthenticated()')}"
			class="btn btn-success" th:href="@{/threads/new}"
			th:text="#{button.new}">...</a>
	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>