<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.threads.edit}">...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/formValidation.js"
	th:src="@{/resources/js/formValidation.js}"></script>
</head>
<body onload="checkBoth()">
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div
			th:replace="fragments/components :: alert (type=secondary, message=#{help.threads.edit})"></div>
		<th:block th:if="${message != null}">
			<div
				th:replace="fragments/components :: alert (type=${#strings.toLowerCase(alertClass)}, message=#{${message}})">&nbsp;</div>
		</th:block>
		<h2 class="text-success" th:text="#{heading.threads.edit}">...</h2>
		<br>
		<div class="jumbotron">
			<form th:object="${thread}"
				th:action="@{/thread/edit?id=} + ${thread.id}" method="post">

				<div class="form-group"
					th:classappend="${#fields.hasErrors('title')}? ' has-danger'">
					<input type="hidden" th:field="*{id}" /> <label
						class="col-form-label" th:text="#{form.label.title}">...</label> <input
						type="text" class="form-control" th:field="*{title}"
						th:placeholder="#{form.placeholder.title}" id="title"
						onkeyup="checkBoth()" /> <small class="text-muted"
						id="counter_title">0/100</small>
					<div class="invalid-feedback" th:if="*{#strings.isEmpty(title)}"
						th:text="#{form.error.empty}">...</div>
					<div class="invalid-feedback"
						th:if="*{#strings.length(title) > 100}"
						th:text="#{form.error.toolong}">...</div>
				</div>

				<div class="form-group"
					th:classappend="${#fields.hasErrors('message')}? ' has-danger'">
					<label class="col-form-label" th:text="#{form.label.message}">...</label>
					<textarea rows="3" class="form-control" th:field="*{message}"
						th:placeholder="#{form.placeholder.message}" id="message"
						onkeyup="checkBoth()"> </textarea>
					<small class="text-muted" id="counter_message">0/255</small>
					<div class="invalid-feedback" th:if="*{#strings.isEmpty(message)}"
						th:text="#{form.error.empty}">...</div>
					<div class="invalid-feedback"
						th:if="*{#strings.length(message) > 255}"
						th:text="#{form.error.toolong}">...</div>
				</div>

				<div class="form-group">
					<label class="col-form-label" th:text="#{form.label.tags}"></label>
					<input type="text" class="form-control" th:field="*{tags}"
						th:placeholder="#{form.placeholder.tags}">
				</div>
				<br>
				<div style="float: right;">
					<button id="button-success" type="submit"
						class="btn btn-outline-success" th:text="#{button.submit}"
						name="action" value="success">...</button>
					<button id="button-warning" type="submit" style="display: none;"
						class="btn btn-outline-warning"
						th:text="#{button.submit}" name="action" value="warning">...</button>
				</div>
			</form>
		</div>
	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>