<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.threads.details}">...</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<br>
		<div
			th:replace="fragments/components :: alert (type=secondary, message=#{help.threads.view})"></div>
		<h2 class="text-info" th:text="${thread.title}">...</h2>

		<div class="card text-white bg-dark mb-3"
			th:classappend="${thread.userProfile.account.role == 'ROLE_ADMIN' ? ' border-info' : ''}">
			<div class="card-header">
				<span th:inline="text">[[${thread.title}]]</span>
			</div>
			<table>
				<tr>
					<td id="thread" class="border-padding"><img
						class="img-thumbnail"
						src="http://localhost:8080/getUserprofileImage"/><br>
						<span th:if="${thread.userProfile.account.role == 'ROLE_ADMIN'}"
						class="badge badge-pill badge-info" th:text="ADMIN">...</span></td>

					<td>
						<div class="card-body">
							<p class="card-text" th:text="${thread.message}">...</p>
						</div>
					</td>
				</tr>
				<tr>
					<td id="thread" class="border_vr border-padding"><label
						class="text-muted small" th:text="#{form.label.author}"
						for="author"></label> <small id="author" th:inline="text"
						th:text="${thread.userProfile.username}" class="text-secondary"
						th:class="${thread.userProfile.account.role == 'ROLE_ADMIN' ? 'text-info' : 'text-secondary'}">...
					</small></td>
			</table>



			<table style="width: 100%;">

				<tr>
					<td id="thread" class="border-padding"></td>
					<td><small class="border-padding"><span
							th:each="tag : ${tags}"><span
								class="badge badge-secondary" th:text="${tag}">...</span>&nbsp;</span></small></td>
					<td class="text-right border-padding"><a
						class="btn btn-outline-warning btn-sm"
						th:href="@{/thread/edit?id=} + ${thread.id}"
						th:text="#{button.edit}"
						th:if="${thread.userProfile.username == username}">...</a> <a
						class="btn btn-outline-danger btn-sm" href="#"
						th:href="@{/thread/delete?id=} + ${thread.id}"
						th:text="#{button.delete}"
						th:if="${thread.userProfile.username == username || userRole == 'ROLE_ADMIN'}">...</a>
						&nbsp;</td>
				</tr>
			</table>
		</div>

		<div th:each="post : ${posts}">
			<div class="card text-white bg-dark mb-3"
				th:classappend="${post.userProfile.account.role == 'ROLE_ADMIN' ? ' border-info' : ''}">
				<div class="card-header">
					<span th:inline="text">RE: [[${thread.title}]]</span>
				</div>
				<table>
					<tr>
						<td id="thread" class="border-padding"><img
							class="img-thumbnail"
							src="http://localhost:8080/getUserprofileImage"/><br>
							<span th:if="${post.userProfile.account.role == 'ROLE_ADMIN'}"
							class="badge badge-pill badge-info" th:text="ADMIN">...</span></td>

						<td>
							<div class="card-body">
								<p class="card-text" th:text="${post.message}">...</p>
							</div>
						</td>
					</tr>
					<tr>
						<td class="border-padding" id="thread"><label
							class="text-muted small" th:text="#{form.label.author}"
							for="author"></label> <small id="author" th:inline="text"
							th:text="${post.userProfile.username}" class="text-secondary"
							th:class="${post.userProfile.account.role == 'ROLE_ADMIN' ? 'text-info' : 'text-secondary'}">...
						</small></td>
					</tr>
				</table>


				<table style="width: 100%;">
					<tr>
						<td id="thread" class="border-padding"></td>
						<td class="text-right border-padding"><a
							class="btn btn-outline-warning btn-sm"
							th:href="@{/thread/} + ${thread.id} + '/post/edit?id=' + ${post.id}"
							th:text="#{button.edit}"
							th:if="${post.userProfile.username == username}">...</a> <a
							class="btn btn-outline-danger btn-sm" href="#"
							th:href="@{/post/delete?id=} + ${post.id}"
							th:text="#{button.delete}"
							th:if="${post.userProfile.username == username || userRole == 'ROLE_ADMIN'}">...</a>
							&nbsp;</td>
					</tr>
				</table>
			</div>
		</div>

		<a class="btn btn-outline-info"
			th:href="@{/thread/} + ${thread.id} + '/posts/new'"
			th:text="#{button.reply}">...</a>

	</div>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>