<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
</head>
<body>
	<!-- Reusable alert -->
	<div class="alert alert-dismissible"
		th:fragment="alert (type, message)"
		th:classappend="'alert-' + ${type}" id="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong th:if="${type == 'danger'}">Oh snap!</strong> <strong
			th:if="${type == 'warning'}">Hey now!</strong> <strong
			th:if="${type == 'info'}">Heads up!</strong> <strong
			th:if="${type == 'success'}">We-hey!</strong> <strong
			th:if="${type == 'secondary'}">Hiya!</strong> <span
			th:text="${message}">...</span>
	</div>


	<!-- Reusable modal -->
	<div class="modal" th:fragment="modal (id, title)" th:id="${id}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" th:text="${title}">...</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" th:id="${id + '-body'}"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal" th:text="#{button.close}">...</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
