<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
</head>
<body>

	<!-- Header -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
		th:fragment="header">
		<a class="navbar-brand" href="#" th:text="#{navbar.brand}">...</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbar" aria-controls="navbar" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"
					th:classappend="${module == 'home' ? ' active' : ''}"><a
					class="nav-link" href="#" th:href="@{/}" th:text="#{navbar.home}">...</a></li>
				<li class="nav-item"
					th:classappend="${module == 'about' ? ' active' : ''}"><a
					class="nav-link" href="#" th:href="@{/about}"
					th:text="#{navbar.about}">...</a></li>
				<li class="nav-item"
					th:classappend="${module == 'profile' ? ' active' : ''}"
					th:if="${#authorization.expression('isAuthenticated()')}"><a
					class="nav-link" href="#" th:href="@{/userProfile}"
					th:text="#{navbar.profile}">...</a></li>
				<li class="nav-item"
					th:classappend="${module == 'threads' ? ' active' : ''}"><a
					class="nav-link" href="#" th:href="@{/threads}"
					th:text="#{navbar.threads}">...</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><form class="form-inline my-2 my-lg-0" th:action="@{/threads}"
				method="post">
						<input class="form-control form-control-m mr-sm-2" type="text"
							th:placeholder="#{form.placeholder.search}" name="searchCriteria">
						<button class="btn btn-primary my-2 my-sm-0" type="submit"
							th:text="#{button.search}">...</button> &nbsp;
					</form></li>
				<li th:if="${#authorization.expression('!isAuthenticated()')}">
					<a class="btn btn-primary my-2 my-sm-0" href="/signin"
					th:href="@{/signin}"> <span aria-hidden="true"></span>&nbsp;Sign
						in
				</a>
				</li>
				<li th:if="${#authorization.expression('isAuthenticated()')}">
					<a class="btn btn-primary my-2 my-sm-0" href="/logout"
					th:href="@{#}" onclick="$('#form').submit();"> <span
						aria-hidden="true"></span>&nbsp;Logout
				</a>
					<form style="visibility: hidden" id="form" method="post" action="#"
						th:action="@{/logout}"></form>
				</li>
			</ul>
		</div>
	</nav>

	<!-- Footer -->
	<div th:fragment="footer" th:align="center" class="footer text-muted">
		&copy;&nbsp;<span
			th:text="${#temporals.format(#temporals.createNow(), 'MMMM yyyy')}">2017</span>
		SPK v<span th:text="${@environment.getProperty('app.version')}"></span>
	</div>

</body>
</html>